.footer{
    background-color: #2d2c2c;
    border-top: solid 2px #c8102e;
    height: 300px;
    margin: 0px -20px;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 50px;
}

.logo-footer{
    width: 150px;
    height: auto;
}